@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
 }
 
 body {
    min-height: 100%;
 }

img {
    max-width: 100%;
}

body {
    margin: 0;
    padding: 45px 5px 5px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}
