@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
* {
    box-sizing: border-box;
}
html {
    height: 100%;
 }
 
 body {
    min-height: 100%;
 }
img {
    max-width: 100%;
}
body {
    margin: 0;
    padding: 45px 5px 5px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffff;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background:#b65e5e;
    
    
    /* Heading */
header {
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px rgb(82, 53, 53);
    margin-top: 10px;
}

/* Game Zone */
.result {
    font-size: 25px;
    color: white; 
    padding-top: 60px;
    padding-bottom: 20px;
}

.result > p {
    text-align: center;
}
